POSTGRES_USER=quiz
POSTGRES_PASSWORD=quiz
POSTGRES_DB=quizapp
# Optioneel: je LAN-adres, zodat de QR-code werkt op telefoons in hetzelfde wifi-netwerk
# Voorbeeld: PUBLIC_URL=http://192.168.1.23:5173
PUBLIC_URL=
# Later (L1): geheime sleutel voor JWT
JWT_SECRET=verander-mij
